<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
